<link rel="stylesheet" class="aplayer-secondary-style-marker" href="\assets\css\APlayer.min.css"><script src="\assets\js\APlayer.min.js" class="aplayer-secondary-script-marker"></script>html,body {
    height: 100%;
}

.float {
    height:100%;
    overflow: auto;
}

.left {
    float: left;
    width:300px;
    background-color: #ff6700;
    height:100%;
}

.right {
    overflow: auto;
    height: 100%;
    background-color: #5295ff;
}